<header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <ul>
            <li><h1>MR</h1></li>
            <li>
              <a href="{{ site.baseurl }}/">Posts</a>
            </li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li>
              <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
